VITE_CONTACT_ENDPOINT=https://script.google.com/macros/s/REPLACE_ME/exec
VITE_APPLY_ENDPOINT=https://script.google.com/macros/s/REPLACE_ME/exec
VITE_ADVISORY_ENDPOINT=https://script.google.com/macros/s/REPLACE_ME/exec
cd /opt/react-fellowship
echo 'VITE_ADVISORY_ENDPOINT=https://script.google.com/macros/s/AKfycbwURMKlEG-QFP6TR-XX6HxS4oKFSfQ-7qH7ExzJZUL3zR-b8d7I6-I6V8_8SFu2hGwl/exec' >> .env.local
git pull
docker compose up -d --build
