VITE_CONTACT_ENDPOINT=https://script.google.com/macros/s/REPLACE_ME/exec
VITE_APPLY_ENDPOINT=https://script.google.com/macros/s/REPLACE_ME/exec
VITE_ADVISORY_ENDPOINT=https://script.google.com/macros/s/REPLACE_ME/exec
